@attribute [Authorize(Roles = "business_owner")]
@using Coffee_Ecommerce.WebApp.Features.Administrator
@using Coffee_Ecommerce.WebApp.Services
@using Coffee_Ecommerce.WebApp.Shared.Events
@inject IAdministratorService AdminService
@inject IEstablishmentService EstablishmentService

<div>
    <p>Você está prestes a excluir o estabelecimento <b>@Establishment.Name</b>.</p>
    <p>O bloqueio da conta é necessário antes do processo de exclusão. Contas bloqueadas podem ser posteriormente desbloqueadas.</p>
    <p>A conta somente é excluída 30 dias após a solicitação. A exclusão pode ser posteriormente cancelada desbloqueando a conta</p>
    <p class="text-danger">Após a exclusão, a conta não pode ser recuperada</p>
    
    <hr />
    <p><b>Nome: </b>@Establishment.Name</p>
    <p><b>E-mail: </b>@Establishment.Email</p>
    <p><b>CEP: </b>@Establishment.PostalCode</p>
    <p><b>Endereço: </b>@Establishment.Street, @Establishment.District, @Establishment.City - @Establishment.State</p>
    <p><b>Complemento: </b>@Establishment.Complement</p>
    <p><b>CPF: </b>@Establishment.CNPJ</p>
    <p><b>Telefone: </b>@Establishment.PhoneNumber</p>
    <hr />
    <br />

    <p><b>Administrador: </b>@Admin.Name</p>
    <p><b>E-mail: </b>@Admin.Email</p>
    <p><b>Telefone: </b>@Admin.PhoneNumber</p>
    <hr />
    <br />

    <div class="d-flex">
        <Button Color="@((ButtonColor)Color)" @onclick="Block" Style="margin-right: 10px;">@ButtonState</Button>
        <Button Color="ButtonColor.Danger" @onclick="Delete" Style="margin-right: 10px;" Disabled="@(!BlockedEstablishment)">Excluir</Button>
        <Button Color="ButtonColor.Success" @onclick="CloseCallback">Voltar</Button>
    </div>
</div>

@code {
    [Parameter]
    public EstablishmentEntity Establishment { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> CloseCallback { get; set; }

    private AdministratorEntity Admin { get; set; } = new AdministratorEntity();

    private bool BlockedEstablishment { get; set; } = false;

    private string ButtonState { get; set; } = "Bloquear";

    private int Color { get; set; } = 4;

    protected override async Task OnParametersSetAsync()
    {
        await GetAdmin();
        ChangeButtonState();
    }

    private async Task Delete()
    {
        try
        {
            _ = await EstablishmentService.DeleteAsync(Establishment.Id);

            ToastRaiser.Notifty("Conta agendada para exclusão");
        }
        catch (ApiException ex)
        {
            ErrorRaiser.Raise(ex, "Não foi possível agendar a exclusão do estabelecimento");
        }
        catch (HttpRequestException ex)
        {
            ErrorRaiser.Raise($"{ex.GetType()}: Não foi possível agendar a exclusão do estabelecimento");
        }
    }

    private async Task Block()
    {
        try
        {
            var result = await EstablishmentService.BlockAsync(Establishment.Id);

            if (result.Item2 == "Account blocked")
            {
                ToastRaiser.Notifty("Conta bloqueada");
            }
            else if (result.Item2 == "Account unblocked")
            {
                ToastRaiser.Notifty("Conta desbloqueada");
            }

            await ChangeModalState();
        }
        catch (ApiException ex)
        {
            ErrorRaiser.Raise(ex, "Não foi possível bloquear o estabelecimento");
        }
        catch (HttpRequestException ex)
        {
            ErrorRaiser.Raise($"{ex.GetType()}: Não foi possível bloquear o estabelecimento");
        }
    }

    private async Task GetEstablishment()
    {
        Establishment = await EstablishmentService.GetByIdAsync(Establishment.Id);
    }

    private async Task GetAdmin()
    {
        try
        {
            Admin = await AdminService.GetByIdAsync(Establishment.AdministratorId);
        }
        catch (ApiException ex)
        {
            ErrorRaiser.Raise(ex, "Não foi possível encontrar o administrador");
        }
        catch (HttpRequestException ex)
        {
            ErrorRaiser.Raise($"{ex.GetType()}: Não foi possível encontrar o administrador");
        }
    }

    private void ChangeButtonState()
    {
        bool blockedAccount = Establishment.Role == "blocked_account" ? true : false;
        ButtonState = blockedAccount ? "Desbloquear" : "Bloquear";
        Color = blockedAccount ? 3 : 4;
        BlockedEstablishment = blockedAccount;
    }

    private async Task ChangeModalState()
    {
        await GetEstablishment();
        ChangeButtonState();
    }
}
