@using Coffee_Ecommerce.WebApp.Features.Administrator
@attribute [Authorize(Roles = "business_owner")]
@inject IAdministratorService AdminService

<div>
    <h4>Estabelecimento</h4>
    <h4>@Establishment.Name</h4>
    <hr />
    <p><b>E-mail: </b>@Establishment.Email</p>
    <p><b>CEP: </b>@Establishment.PostalCode</p>
    <p><b>Endereço: </b>@Establishment.Street, @Establishment.District, @Establishment.City - @Establishment.State</p>
    <p><b>Complemento: </b>@Establishment.Complement</p>
    <p><b>CNPJ: </b>@Establishment.CNPJ</p>
    <p><b>Telefone: </b>@Establishment.PhoneNumber</p>
    <br />

    <h4>Administrador</h4>
    <h4>@Admin.Name</h4>
    <hr />
    <p><b>E-mail: </b>@Admin.Email</p>
    <p><b>Telefone: </b>@Admin.PhoneNumber</p>
</div>

@code {
    [Parameter]
    public EstablishmentEntity Establishment { get; set; }

    private AdministratorEntity Admin { get; set; } = new AdministratorEntity();

    protected override async Task OnParametersSetAsync()
    {
        Admin = await AdminService.GetByIdAsync(Establishment.AdministratorId);
    }
}
